.data-table {
    width: 100%;
    border-spacing: 0;
    
  }
  
  .data-table th, .data-table td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #dddddd;
    /* font-size:13px;    */
  }
  .data-table img {
    border-radius: 50%; /* Add a border radius to create a circular profile image */
  }

  .data-table button {
    padding: 5px 10px;
    /* background-color: #3498db; */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }

  /* .data-table td:first-child { */
    /* margin-left: 50px; Add a left margin to the first column */
  /* } */
  
  /* .data-table tr:nth-child(even) {
    background-color: #f2f2f2;
  } */
  